<ul  class="list-unstyled">
      <% if @flights %>
        <% @flights.each do |flight| %>
          <%= render @flight %>
        <% end %>
      <% else %>
        <h5>NO FLIGHTS FOUND FOR THE GIVEN PARAMETERS!!!<h5>
      <% end %>
  </ul>
</div>

