<h1 style="margin-left: 1% !important; max-width: 99%">FIND A FLIGHT</h1>
<div style="min-height: 65%;" class="d-flex flex-column gap-1 justify-content-center align-items-center">
  <%= render 'search_form' %>

  <%= render partial: 'flights/flights' %>
</div>
