<h1>Ticket booking status for passenger <%= @ticket.fullname %></h1>

<p>
  <strong><%= @greeting %>, </strong>
</p><br>
<p style="text-indent: 40px">
  The status for your booking is <strong><%= @status %></strong>. if rejected its probably because the flight is all reserved.
</p>
<br>
<br>

<p>Please login or sign up with this email <a href="FakeDomain/passengers/sign_in">odinflightbooker.com</a> to book another flight.</p>

<br>
<br>
<p>Best Regards,</p><br>
<p><strong>OdinFlightBooker Crew</strong></p>
