<div>
  <p><strong>Passenger name: </strong> <%= @ticket.passanger_name %></p>
  <p><strong>Passenger email: </strong> <%= @ticket.passanger_email %></p>
  <small><strong>Flight number:</strong> <%= @ticket.flight.code %></small>
</div>