<div>
  <div class="d-flex flex-column align-items-center">
  <p><strong>Passenger name: </strong> <%= @ticket.passanger_name %></p>
  <p><strong>Passenger email: </strong> <%= @ticket.passanger_email %></p>
  <small><strong>Flight number:</strong> <%= @ticket.flight.code %></small>
  </div>
    <div class="justify-self-end align-self-end">
  </div>
</div>